<mat-toolbar color="primary">
  <button mat-button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <span>Bookmarx</span>


  <button mat-button routerLinkActive="mat-accent" [routerLink]="['/bookmarks/search']">Search</button>
  <button mat-button routerLinkActive="mat-accent" [routerLink]="['/bookmarks/list']">List</button>
  <button mat-button routerLinkActive="mat-accent" [routerLink]="['/bookmarks/edit']">Edit</button>
  <button mat-button routerLinkActive="mat-accent" [routerLink]="['/bookmarks/tree']">Tree</button>
  <button mat-button routerLinkActive="mat-accent" [routerLink]="['/bookmarks/treelist']">TreeList</button>


</mat-toolbar>




