<table mat-table [dataSource]="bookmarkArray">

  <ng-container matColumnDef="id" style="column-width: 20px">
    <th mat-header-cell *matHeaderCellDef scope="col">ID</th>
    <td mat-cell [matTooltip]="bookmark.id" *matCellDef="let bookmark">{{bookmark.id | truncate : 3 : false : '...'}}</td>
  </ng-container>

  <ng-container matColumnDef="title" >
    <th mat-header-cell *matHeaderCellDef scope="col">Title</th>
    <td mat-cell *matCellDef="let bookmark">{{bookmark.title}}</td>
  </ng-container>

  <ng-container matColumnDef="url" >
    <th mat-header-cell *matHeaderCellDef scope="col">URL</th>
    <td class="bookmark-hover" mat-cell *matCellDef="let bookmark" (click)="onClickNavigateToBookmark($event, bookmark.id, bookmark.url)">{{bookmark.url}}</td>
  </ng-container>

  <ng-container matColumnDef="description" >
    <th mat-header-cell *matHeaderCellDef scope="col">Description</th>
    <td mat-cell *matCellDef="let bookmark">{{bookmark.description}}</td>
  </ng-container>

  <ng-container matColumnDef="tags" >
    <th mat-header-cell *matHeaderCellDef scope="col">Tags</th>
    <td mat-cell *matCellDef="let bookmark">{{bookmark.tags}}</td>
  </ng-container>

  <ng-container matColumnDef="createdAt" >
    <th mat-header-cell *matHeaderCellDef scope="col">Created</th>
    <td mat-cell *matCellDef="let bookmark">{{bookmark.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
  </ng-container>

  <ng-container matColumnDef="modifiedAt" >
    <th mat-header-cell *matHeaderCellDef scope="col">Modified</th>
    <td mat-cell *matCellDef="let bookmark">{{bookmark.modifiedAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
  </ng-container>

  <ng-container matColumnDef="actions" >
    <th mat-header-cell *matHeaderCellDef scope="col"></th>
    <div fxLayout="row"   fxLayoutAlign="end center">
      <td mat-cell *matCellDef="let bookmark" fxLayoutGap="5px">
        <button mat-mini-fab color="primary" aria-label="Edit" (click)="onClickEditBookmark($event, bookmark.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="primary" aria-label="Delete" (click)="onClickDeleteBookmark($event, bookmark.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </div>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
